<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header positiva-header">
  <div class="logo positiva-logo">
    {{#link 'help_center'}}
      <img src="{{settings.logo}}" alt="Centro de ayuda Positiva ARL" />
      <span aria-hidden="true">Positiva</span>
    {{/link}}
  </div>

  <nav class="positiva-top-nav" aria-label="Navegación principal">
    {{#link 'help_center' class='top-nav-link'}}Inicio{{/link}}
    <span class="top-nav-link top-nav-link-muted">Atención al usuario</span>
  </nav>
</header>
